body
{
    margin: 0;
    font-family: Poppins,sans-serif; 
    font-weight: 300;
}

/* -----------Navigation Bar------------ */

nav
{
   
    position: fixed;
    /* border: solid black 1px; */
    background-color:white;
    width: 100vw;
    height: 96px;
    /* border: solid black 1px; */
    z-index: 3;
}

#navcon
{
    margin-top: 20px;
    /* border: solid green 1px; */
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 50px;
    color: white;
    font-size: 22px;
    /* padding: 7px 60px 7px 60px; */
}

.nav-item
{
    
    left: 50px;
    /* border: solid green 1px; */
    font-size: 18px;
    height: 50px;
}

.nav-item ul
{
    display: flex;
    list-style: none;
    width: 100%;
    /* To remove the dots from the unordered list */
    justify-content: space-between;
    margin-right: 23px;
   
    

}

#logo
{
    margin-left: 20%;
    height: 56px;
    width: 128px;
}

#menu
{
    margin-right: 20%;
}

.nav-item a
{
    text-decoration: none;
    color: #C7C7C7;
    font-size: 16px;
}

a:hover {
    color:black;
    border-bottom: solid black 1px;
  }

  /* -------------SALE CONTAINER--------- */
  .Container1
  {
      /* border: solid black 1px; */
      height: 520px;
      width: 100vw;
    background-color: #EFEFEF;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 98px;
 
  }
  .Container1 h1
  {
      /* border: solid black 1px; */
      color: #222222;
      font-size: 50px;
   word-spacing: -5px;
   letter-spacing: 0;
font-weight:900;
-webkit-text-stroke: 3px #222222;

  }
  #container1
  {
      padding-top: 100px;
  }
  .Sale
  {
      padding-left: 360px;
      width: 40%;
      height: 261px;
  }
  .Sale p{
      /* border: solid black 1px; */
      color: #222222;
  }
 .Button
 {
     width: 100px;
     font-size: 18px;
     font-family: Poppins,sans-serif;
     font-weight: 500;
     color: #222222;
     background-color: transparent;
     padding: 0;
     border: none;
     box-shadow: inset 0em -10px #F1948A;
 }

  .button-container
  {
    
      /* background-color: aquamarine; */
      margin: 0ch;
      width: 200px;
      padding: 0;
      width: 130px;
  }

 .Container1 img
 {
     position: relative;
     top: -394px;
     left: 1100px;
 }
 
 
  .Container-2
  {
     clear: both;
     position: relative;
     /* top: -175px; */
      margin-left: auto;
      margin-right: auto;
      width: 1270px;
      display: flex;
      flex-wrap: wrap;
      padding-top: 300px;
      /* border: solid black 1px; */
      justify-content: space-evenly;
     
  }
  .Container-2 img
  {
position: relative;
/* border: solid  chartreuse 2px; */
  }

  .break
  {
      flex-basis: 100%;
      height:0;
  }


  .Sale-Options ul
  {
    display: flex;
    list-style: none;
    width: 100%;
    /* To remove the dots from the unordered list */
    justify-content: space-between;
    margin-right: 23px;
 }
 a:hover
 {
     color: black;
 }

 .Sale-Options
 {
     /* border: solid black 1px; */
     position: relative;
     right: 469px;
     margin-bottom: 25px;
 }

 .Sale-Options a
{
    text-decoration: none;
    color: #C7C7C7;
    font-size: 16px;
}

.Sale-Product
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.tag
{
    position: absolute;
    width: 73px;
    height: 30px;
    /* border: solid black 1px; */
    text-align: center;
    background-color: #FFFFFF;
    /* top: 504px; */
    top: 780px;
    margin-left: 20px;
}

/* =================OVERLAY EFFECT================ */

.overlay{
    position: absolute;
    top: 386px;
    bottom: 0;
    left: 865px;
    right: 0;
    
    height: 450px;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(34, 34, 34, .7);
    z-index: 3;
  }
  
  .Sale-Product:hover .overlay {
    opacity: 1;
  }
  
  .shirts {
      /* border: solid black 1px; */
    color: white;
    font-size: 20px;
    position: relative;
   padding: 25px;
    height: 100%;
    text-align: start;
    padding-left: 10px;
    font-size: 16px;
  
  }
  
  .shirts h3
  {
      text-align: start;
  }




  #pant
  {
    position: absolute;
    top: 386px;
    bottom: 0;
    left: 460px;
    right: 0;
    
    height: 450px;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(34, 34, 34, .7);
    z-index: 3;
  }

  .Sale-Product:hover #pant {
    opacity: 1;
  }

  .Pant
  {
    /* border: solid black 1px; */
    color: white;
    font-size: 20px;
    position: relative;
   padding: 25px;
    height: 100%;
    text-align: start;
    padding-left: 10px;
    font-size: 16px;
 
  }



  #hat
  {
    position: absolute;
    top: 386px;
    bottom: 0;
    left: 56px;
    right: 0;
    
    height: 450px;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    background-color:rgba(34, 34, 34, .7);
    z-index: 3;
  }

  .Sale-Product:hover #hat {
    opacity: 1;
  }

  .Hat
  {
    /* border: solid black 1px; */
    color: white;
    font-size: 20px;
    position: relative;
    padding: 25px;
    height: 100%;
    text-align: start;
    padding-left: 10px;
    font-size: 16px;

 
  }
  .Name 
  {
      position: relative;
      padding: 0;
      margin: 0;
      height: 50px;
  }     
  
  .Container-3
  {
      display: flex;
      justify-content: space-evenly;
    /* border: solid black 1px; */
    width: 1270px;
   margin-left: auto;
   margin-right: auto;
    position: relative;
    margin-top: 120px;
    /* top: -55px; */
  }

  .Banner
  {
      position: relative;
  }

  #one
  {
      position: absolute;
      top: 70px;
      left: 250px;
  }

  #two
  {
      position: absolute;
      top: 70px;
      left: 65px;
  }

  .Banner h2
  {
      margin: 0;
  }

  .Banner button
  {
      margin-top: 30px;
  }


  .Container-4
  {
      position: relative;
      padding-top: 120px;
      /* border: solid #222222 1px; */
display: flex;
justify-content: space-evenly;
width: 1270px;
margin-left: auto;
margin-right: auto;
  }

  .tile-footer
  {
      display: flex;
      flex-direction: column;
      border: solid #C7C7C7 1px;
      border-top: none;
      position: relative;
      top: -7px;
      padding: 20px;
      
  }

  .Price
  {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      font-size: 10px;
      font-weight: lighter;
      color: #222222;
  }

  .Container-4 h3
  {
    margin: 5px;
  }

  .Container-4 hr
  {
      border: none;
      border-top: solid #C7C7C7 1px;
      width: 100%;

  }

  .Container-4 span
  {
      color: #222222;
      margin-left: 4px;
      font-size: 14px;
  }

  #Tag1
  {
      position: absolute;
      color: #C7C7C7;
      background-color: #222222;
      height: 30px;
      width: 72px;
      font-size: 14px;
      text-align: center;
      top: 140px;
      left: 1123px;
  }

  #Tag1 p
  {
      margin-top:8%;
      /* margin-bottom: auto; */
      
  }


#Tag2
{
    color: #C7C7C7;
      background-color: #222222;
      height: 30px;
      width: 72px;
      font-size: 14px;
      text-align: center;
      top: 140px;
      position: absolute;
      left: 717px;
}


#Tag2 p
{
    margin-top:8%;
    /* margin-bottom: auto; */
    
}


/* ===============container 5================= */

.Container-5
{
    width: 100%;
    height: 300px;
    background-color: #C7C7C7;
    position: relative;
    top: 305px;
   
}

.First-half
{
position: relative;
top: -88px;
/* border: solid #F1948A 1px; */
}

.Inner
{
    width: 1270px;
    /* border:solid #222222 1px; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /* padding-left: 200px; */
    height: 300px;
    justify-content: space-around;
    align-items: center;
}

.Second-half
{
    position: relative;
    top: -15px;
    left: -90px;
    width: 525px;

}

#Subscribe
{
    width: 350px;
    border: solid #C7C7C7 1px;
    height: 50px;
    text-align: center;
 color: #C7C7C7;
 font-size: 14px;

}

.Input1
{
    color: #C7C7C7;
    background-color: #222222;
    padding: 15px;
    padding-left: 46px;
    padding-right: 46px;
    position: relative;
    left: -6px;
    
    

}

#my
{
    font-size: 14px;
    
}


/* ============Container 6========= */

.Container-6
{
    display: flex;
    position: relative;
    top: 400px;
    justify-content: space-between;
    width: 1270px;
    margin-left: auto;
    margin-right: auto;
}

.Card
{
    display: flex;
    flex-direction: column;
}


.Card p
{
    width: 350px;
    font-size: 16px;
}

.Card h3
{
    margin: 0;
    margin-top: 20px;
}

/* ================COnatiner 7=========== */

.Container-7
{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 510px;
    width: 1270px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

.Parts
{
   display: flex;
   flex-direction: column; 
}

.Parts ul
{
    list-style: none;
    text-decoration: none;
    padding-left: 0;
    color: #222222;
    font-size: 16px;
}

footer
{
    margin-top: 50px;
    position: relative;
    top: 510px;
    background-color: #C7C7C7;
    height: 122px;
   
}
.footer-container
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1270px;
    margin-left: auto;
    margin-right: auto;
    /* border: solid black 1px; */
    position: relative;
    top: 32px;
}

.Foot-list ul
{
    display: flex;
    list-style: none;
    /* margin-right: 25px; */
}
.Foot-list li
{
    margin-right: 15px;
}